html {
   font-size: 62.5%;
}

body {
   font: 1.4rem "Open Sans", sans-serif;
   background: $black;
   color: $light-gray;
   margin: 0;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: $light-purple;
   text-decoration: none;
}

img {
   max-width: 100%;
}

input[type="file"] {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

h2 {
   font-size: 1.3rem;
   text-align: center;
   margin: 1.6rem;
   font-weight: normal;
   letter-spacing: 0.5rem;
   text-transform: uppercase;
}
