.show-for-mobile {
   @media (min-width: 642px) {
      display: none;
   }
}

.left {
   float: left;
}

.right {
   float: right;
}

.hide {
   display: none !important;
}

.center {
   margin: auto;
   display: block;
}

.text-center {
   text-align: center;
}

.error {
   color: red;
   margin: 2rem 0 0;
}

.highlight-off {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.menu-icon {
   width: 35px;
   height: 23px;
   position: relative;
   margin: auto;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 0.5s ease-in-out;
   -moz-transition: 0.5s ease-in-out;
   -o-transition: 0.5s ease-in-out;
   transition: 0.5s ease-in-out;
   cursor: pointer;

   span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $light-gray;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
         top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
         top: 9px;
      }

      &:nth-child(4) {
         top: 18px;
      }
   }

   &.open {
      span {
         &:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
         }

         &:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
         }

         &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
         }

         &:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
         }
      }
   }
}

.button {
   background: $light-purple;
   font-weight: bold;
   cursor: pointer;
   padding: 8px 20px;
   border-radius: 3px;
   text-transform: uppercase;
   transition: background 0.2s ease-in-out;
   outline: 0;
   border: 0;

   &:hover {
      background: $light-gray;
   }
}

.modal-background {
   //background-image: linear-gradient(0deg,rgba(29, 27, 28, 0.8),rgba(29, 27, 28, 0.8)),url(/images/Hopkinsville-goblin.jpg);
}
