.admin {
   max-width: 960px;
   margin: 0 auto 30px;
   padding: 0 16px;
}

.admin-table {
   font-size: 1.6rem;
   border-spacing: 0 1rem;

   td {
      width: 20%;
   }
}

.back-button {
   display: inline-block;
   margin: 0 0 1rem;
   font-size: 1.6rem;
}

.flex-table {
   max-width: 960px;
   margin: 0 0 30px;
   display: grid;
   gap: 32px 16px;

   @media (min-width: 642px) {
      grid-template-columns: 1fr 1fr;
   }

   @media (min-width: 1050px) {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .flex-row {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      max-width: 300px;
      margin: auto;

      @media (min-width: 642px) {
         max-width: 100%;
      }
   }
   .flex-content {
   }
   .flex-column {
      overflow: hidden;
   }
}

.flex-column--title {
   font-size: 1.6rem;
   margin: 1rem 0;
}

.flex-column--image {
   height: 185px;
   margin: auto;
   display: block;

   img {
      height: 185px;
      object-fit: cover;
      width: 100%;
   }
}

.flex-column--truncate {
   height: 50px;
   padding: 2rem 0;
}

.flex-story {
   height: 60px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.admin-table__row {
   margin: 0 0 1rem;
}

.admin-input {
   margin: 0 0 1rem;
   max-width: 40rem;
   width: 100%;
   padding: 0.5rem;
   font-size: 1.6rem;
}

.admin-textarea {
   font-size: 1.6rem;
   padding: 0.5rem;
   max-width: 40rem;
   width: 100%;
}

.admin-form {
   display: flex;
   flex-direction: column;
   max-width: 50rem;
   margin: auto;
   padding: 2.5rem 0 0;
   gap: 1.5rem;
}

.admin-message {
   margin: 16px auto 0;
   max-width: 50rem;
}

.admin-form__field {
   display: block;
   max-width: 50rem;
   width: 100%;
   padding: 0.8rem;
   background: black;
   border: 0.2rem $light-purple solid;
   border-radius: 0.2rem;
   outline-color: $light-purple;
   color: $light-gray;
   letter-spacing: 0.1rem;
   box-sizing: border-box;

   &::placeholder {
      color: $light-gray;
      letter-spacing: 0.1rem;
   }
}

input[type="file"]:focus-visible {
   & + .admin-form__upload {
      background: $light-gray;
   }
}

.admin-form__upload {
   background: #ad8eda;
   color: black;
   font-size: 1.6rem;
   padding: 1.6rem;
   max-width: 10rem;
   text-align: center;
   cursor: pointer;
   transition: background 0.2s ease-in-out;

   &:hover {
      background: $light-gray;
   }
}

.admin-form__textarea {
   border: 0.2rem $light-purple solid;
   background: black;
   padding: 1rem;
   color: $light-gray;

   &::-webkit-scrollbar {
      width: 10px;
   }

   &::-webkit-scrollbar-track {
      background: black;
   }

   &::-webkit-scrollbar-thumb {
      background: $light-purple;
      border-radius: 10px;
   }
}

.admin-form__submit {
   background: $light-purple;
   color: black;
   border: 0;
   padding: 0.8rem 2rem;
   font-size: 1.6rem;
   cursor: pointer;
}

.admin-update-row {
   display: flex;
   justify-content: space-between;
   margin: 1rem 0 0;
}

.admin__button {
   padding: 1rem 5rem;
   cursor: pointer;
   color: black;
   transition: background-color 0.2s ease-in-out;
}

.admin__button--update {
   background: $light-gray;
   border: 0;

   &:hover,
   &:focus-visible {
      background: #a7a7a7;
   }
}

.admin__button--delete {
   background: $light-purple;
   border: 0;

   &:hover,
   &:focus-visible {
      background: lighten($light-purple, 50%);
   }
}
.admin__delete-message {
   font-size: 1.6rem;
}

.admin__delete-options {
   display: flex;
   justify-content: space-evenly;
   max-width: 345px;
   margin: auto;
}

.spinner {
   display: flex;
   justify-content: center;
   align-items: center;
}
